<input class="form-control" [formControl]="search" >

<form [formGroup]="product">

    <div class="mb-3" >
        <label>Name :</label>
        <input class="form-control" formControlName="name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)">Name is required</div>
    </div>
    <div class="mb-3" >
        <label>image :</label>
        <input class="form-control" formControlName="image">
        <div *ngIf="image.invalid && (image.dirty || image.touched)">Image is required</div>
    </div>
    <div class="mb-3" >
        <label>description :</label>
        <input class="form-control" formControlName="description">
    </div>
    <div class="mb-3" >
        <label>price :</label>
        <input class="form-control" formControlName="price">
    </div>



    <div class="mb-3"  formGroupName="brand">
        <label>brand name :</label>
        <input class="form-control" formControlName="name">
        <div *ngIf="brandname.invalid && (brandname.dirty || brandname.touched)">
            <div *ngIf="brandname.errors!['required']"> brandname is required !</div>
            <div *ngIf="brandname.errors!['minlength']"> Minlenght 8 !</div>
        </div>
        <label>brand logo :</label>
        <input class="form-control" formControlName="brand">
    </div>



    <div class="mb-3" >
        <label>promotion :</label>
        <input class="form-control" formControlName="promotion">
    </div>
    <div class="mb-3" >
        <label>quantity :</label>
        <input class="form-control" formControlName="quantity">
    </div>

    <div class="mb-3" formArrayName="tags">
        <label>Tags :</label>
        <div *ngFor="let t of tags">
            <input class="form-control" [formControl]="t">
        </div>
        <button (click)="addTags()">+</button>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="ADD PRODUCT" (click)="submit()">
    </div>
</form>